
body{
    font-family:'Courier New', Courier, monospace;
}

.WelcomeSignWrapper{
    height: 60vh;
}


.SignWrapper{
    display: flex;
    align-items: center;
    justify-content: center; 
    /* height: 60vh; */
}

.WelcomeSign{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid hsl(120, 100%, 35%);
    border-radius: 25px;
    background-color:white;
    height: 60vh;
    width: 120vh;
}

button{
    cursor: pointer;
    font-size: 2rem;
    font-family:'Courier New', Courier, monospace;
    border: 1px solid hsl(120, 100%, 45%);
    background-color: hsl(120, 100%, 80%);
    width: auto;
    max-width: 300px;
    border-radius: 5px;
    margin-top: 25px;
}

.WelcomeSign button{
    width: 100%;
}

button:hover{
    background-color: hsl(120, 100%, 50%);
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 2rem;
}

label{
    font-size: 1.5rem;
}

.Header{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

.card-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.card{
    cursor: pointer;
    border: 2px solid hsl(120, 100%, 80%);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card:hover{
    box-shadow: 0 0 30px hsl(120, 100%, 50%);
}

.controls{
    display: flex;
    justify-content: end;
    margin-bottom: 50px;
    margin-right: 25px;
}

.controls button{
    width: 50px;
    height: 50px;
}

.speaker{
    width: 35px;
    align-items: center;
    display: flex;
}

.corner-gifs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    margin-top: 50px;
}
.corner-gif{
   width: 125px;
   height: 125px;
}

.overlay{
    position: fixed;
    inset: 0;
    z-index: 999;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(0,0,0,0.6);
}
