
body{
    margin: 0;
    font-family:'Courier New', Courier, monospace;
}

.WelcomeSignWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.WelcomeSign{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid hsl(120, 100%, 35%);
    border-radius: 25px;
    background-color:white;
    height: 50vh;
    width: 100vh;
}

.WelcomeSign button{
    cursor: pointer;
    font-size: 1.5rem;
    font-family:'Courier New', Courier, monospace;
    border: 1px solid hsl(120, 100%, 45%);
    background-color: hsl(120, 100%, 80%);
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    margin-top: 15px;
}

.WelcomeSign button:hover{
    background-color: hsl(120, 100%, 50%);
}

h1{
    font-size: 3rem;
}

label{
    font-size: 1.25rem;
}

.Header{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

.Header-title{
    padding: 20px;
}